<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Form原型</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/lib/bootstrap/css/etuan.css"/>
  <script src="/lib/angular/angular.js"></script>
  <script src="/lib/angular-components/angular-resource.js"></script>
  <script src="/js/form/app.js"></script>
</head>
<body style="background-color: #0066cc">
<div class="container" style="background-color: #fff" ng-controller="FormCtrl">
  <h1>{{form.title}}</h1>
  <h4>{{form.description}}</h4>
  <p>开始时间：{{startTime | date:cnFormat}}</p>
  <p>结束时间：{{stopTime | date:cnFormat}}</p>
  <hr>
  <form class="form-horizontal">
    <div class="form-group" ng-repeat="question in form.formQuestions">
      <div class="col-md-2">
        <label class="control-label">{{question.label}}</label>
      </div>
      <div class="col-md-10">
        <div class="radio" ng-repeat="choiceContent in question.content track by $index" ng-show="questionShow(question.type,1)">
          <label>
            <input name="choice-{{$parent.$index}}" type="radio">{{choiceContent}}
          </label>
        </div>
        <input type="text" class="form-control" ng-show="questionShow(question.type,2)">
        <textarea rows="10" class="form-control" style="resize:none" ng-show="questionShow(question.type,3)"></textarea>
        <label class="radio-inline" ng-repeat="judgeContent in question.content track by $index" ng-show="questionShow(question.type,4)">
          <input name="judge-{{$parent.$index}}" type="radio">{{judgeContent}}
        </label>
      </div>
    </div>
    <div class="form-group">
      <br>
      <div class="col-sm-2 col-md-offset-2">
        <button class="btn btn-block btn-success" ng-click="">提交</button>
      </div>
    </div>
  </form>
</div>
</body>
</html>
