<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>测试用列表</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <script src="/lib/angular/angular.js"></script>
  <script>
    angular.module('app',[]).controller('fltCtrl',['$scope','$http',function($scope,$http){
      $http.get('/api/Forms').success(function(res){$scope.flts=res;});
      $http.get('/api/Votes').success(function(res){$scope.vlts=res;});
      $http.get('/api/Seckills').success(function(res){$scope.skls=res;});
    }]);
  </script>
</head>
<body ng-controller="fltCtrl">
  <h2>Forms</h2>
  <ol>
    <li ng-repeat="flt in flts"><a href="/form#?id={{flt.id}}">{{flt.title}}</a></li>
  </ol>
  <hr>
  <h2>Votes</h2>
  <ol>
    <li ng-repeat="vlt in vlts"><a href="/vote#?id={{vlt.id}}">{{vlt.title}}</a></li>
  </ol>
  <hr>
  <h2>Seckills</h2>
  <ol>
    <li ng-repeat="skl in skls"><a href="/seckill#?id={{skl.id}}">{{skl.title}}</a></li>
  </ol>

<script type="text/javascript">
  if (!window.localStorage.getItem('weChatAccessToken')||!window.localStorage.getItem('weChatUid')||!window.localStorage.getItem('weChatLoginTime')){window.localStorage.removeItem('weChatAccessToken');window.localStorage.removeItem('weChatUid');window.localStorage.removeItem('weChatLoginTime');window.location = '/wechat-login.html';}
</script>
</body>
</html>
