<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Login原型</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <script src="/lib/angular/angular.js"></script>
  <script src="/lib/angular-components/angular-resource.js"></script>
  <script src="/js/login/app.js"></script>
</head>
<body>
<div ng-controller="LoginCtrl">
  <input ng-model="email">
  <input ng-model="password">
  <button ng-click="loginBtn()">Login</button>
</div>
</body>
</html>
