<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>WeChat</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <script src="/lib/angular/angular.min.js"></script>
  <script src="/lib/angular-components/angular-resource.min.js"></script>
  <script>
    function LoginCtrl($scope, $resource, $timeout, $window) {
      var Login = $resource('/api/WeChatUsers/login');
      $scope.loginBtn = function () {
        Login.save(
          {
            'email': $scope.email,
            'password': $scope.password
          },
          function (res) {
            var lsTmp = {
              accessToken: res.id,
              userId: res.userId,
              loginTime: res.created,
              ttl: res.ttl
            };
            $window.localStorage.setItem('d2VjaGF0', JSON.stringify(lsTmp));
            alert('登录成功，将在1秒钟后跳转!');
            $timeout(function () {
              $window.location = '/list-tmp.html'
            }, 1000);
          },
          function (res) {
            alert('登录失败!');
          }
        );
      }
    }
    var app = angular.module('app', ['ngResource']);
    app.controller('LoginCtrl', ['$scope', '$resource', '$timeout', '$window', LoginCtrl]);
  </script>
</head>
<body>
<div ng-controller="LoginCtrl">
  <h2>WeChat</h2>
  <hr>
  <label>email</label>
  <input ng-model="email">
  <label>password</label>
  <input ng-model="password">
  <button ng-click="loginBtn()">login</button>
</div>
</body>
</html>
