<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Submit原型</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <script src="/lib/angular/angular.min.js"></script>
  <script src="/lib/angular-components/angular-resource.min.js"></script>
  <script src="/js/submit/app.js"></script>
</head>
<body>
<div ng-controller="SubmitCtrl">
  <h2>Submit</h2>
  <hr>
  <label>email</label>
  <input ng-model="email">
  <label>password</label>
  <input ng-model="password">
  <button ng-click="submitBtn()">Submit</button>
</div>
</body>
</html>
