@charset "UTF-8";
html {
  min-height: 100%;
  height: 100%;
}

body {
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
  min-height: 100%;
  height: 100%;
}

.menu-list {
  margin-top: -20px;
  background-color: #A6AAC2;
}
.menu-list .menu-head {
  padding: 10px;
  height: 65px;
  line-height: 45px;
  cursor: pointer;
  background-color: #A6AAC2;
  position: relative;
}
.menu-list .menu-head .chosenColor {
  width: 95%;
  position: absolute;
  left: 2.5%;
  top: 10px;
  padding-left: 50px;
}
.menu-list .menu-head .chosenColor:hover {
  background-color: #CBCEE0;
}
.menu-list .menu-head .chosenColor span {
  color: #ffffff;
  font-size: 18px;
}
.menu-list .menu-head .active-menu {
  background-color: #CBCEE0;
}

#contentBtn {
  display: none;
}

#mainHeight {
  margin-top: -20px;
  padding: 0 50px;
  background-color: #F0F1F6;
  overflow: auto;
}
#mainHeight footer {
  height: 50px;
}

.countBox {
  padding: 1.5% 3% 3% 3%;
}
.countBox .icon {
  height: 90px;
  line-height: 100px;
  color: #ffffff;
  font-size: 50px;
}
.countBox .number {
  background-color: #ffffff;
  height: 90px;
  color: #C5C9D5;
  padding-top: 10px;
}
.countBox .number .numberLine {
  font-size: 35px;
  font-weight: bold;
  overflow: hidden;
}
.countBox .number .textLine {
  font-size: 15px;
  overflow: hidden;
}

#countBox1 {
  background-color: #FF6C60;
}

#countBox2 {
  background-color: #F7D24B;
}

#countBox3 {
  background-color: #57C7F0;
}

.noticeBox {
  padding: 15px 16px;
}
.noticeBox .insideBox {
  background-color: #ffffff;
  height: 200px;
  padding: 5% 16%;
  word-break: break-all;
  overflow: hidden;
  line-height: 20px;
}
.noticeBox .insideBox .title {
  color: #A7D86E;
  font-size: 22px;
}
.noticeBox .insideBox p {
  color: #858585;
  font-size: 16px;
}

#client {
  position: absolute;
  right: 10px;
  display: block;
  padding: 5px;
  height: 40px;
  margin: 5px;
  color: #555555;
  font-size: 14px;
}
#client img {
  height: 30px;
  width: 30px;
}

#logout {
  position: absolute;
  right: 50px;
  top: 5px;
  color: #555555;
  font-size: 16px;
}
#logout img {
  width: 30px;
  height: 30px;
}
#logout button {
  margin-left: 10px;
  border-radius: 0;
  background-color: #ffffff;
  border: none;
  font-size: 20px;
  color: #555555;
}
#logout button:hover {
  background-color: #DDDDDD;
}

.navbar-header h5 {
  margin-top: 12px;
  margin-left: 50px;
}

@media screen and (max-width: 768px) {
  .number, .icon {
    margin: 10px 0;
  }

  #menu {
    height: auto;
    width: 100%;
    position: fixed;
    left: 0;
    top: 70px;
    z-index: 1;
    display: none;
  }

  #contentBtn {
    display: block;
    float: left;
    border: none;
    border-radius: 0;
  }

  .noticeBox {
    padding: 15px;
  }

  #mainHeight {
    overflow: auto;
    padding: 0;
  }
}
