body {
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
  height: 100%;
  min-height: 100%;
}

html {
  height: 100%;
  min-height: 100%;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron > .container > p {
  font-weight: 500;
  color: #fff;
}

#title1 {
  font-size: 85px;
}

#title2 {
  font-size: 57px;
}

.jumbotron > .container > h2 {
  color: #fff;
  letter-spacing: 2px;
}

.listhead {
  text-align: center;
  color: #666;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.listhead_org {
  color: #666;
  font-size: 16px;
  min-height: 46px;

}

.thumbnail {
  padding: 13px;
}

.navbar {
  background-color: #FFFFFF;
}

.navbar-nav > li:hover {
  background-color: #EEEEEE;
}

.thumbnail {
  margin-top: 15px;
}

.regLogo {
  width: 150px !important;
  height: 150px !important;
}

.status {
  margin-top: 10px;
  margin-bottom: -5px;
  text-align: right;
  font-size: 16px;
}

.text-on {
  color: #33cc33;
}

.text-coming {
  color: #ffcc33;
}

.text-over {
  color: #cc3300;
}

.text-view-more {
  color: #a8d154;
  font-size: 16px;
}

a:link {
  text-decoration: none;
}

#mainHeight {
  min-height: 90%;
}

.mainBox {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
}

.mainBox:hover {
  transform: scale(1.05,1.05);
  -webkit-transform: scale(1.05,1.05);
  -o-transform: scale(1.05,1.05);
  -moz-transform: scale(1.05,1.05);
}

@media screen and (min-width: 1400px) {
  #title1 {
    margin-top: 100px;
    font-size: 110px;
  }

  .panel-footer {
    margin-top: 50px;
  }
}

.etuanLogo {
  height: 30px;
}

#mainHeight {
  margin-top: 50px;
}

@media screen and (max-width: 450px) {

  .navbar-btn {
    width: 44%;
  }

  .navbar-btn > button {
    width: 100%;
  }

  .etuanLogo {
    height: 21px;
    margin-top: 4px;
  }

  .navbar-toggle {
    margin-right: 0;
  }
}

@media screen and (max-width: 360px) {
  .navbar-btn {
    width: 45%;
  }

  .etuanLogo {
    height: 18px;
    margin-top: 6px;
  }

}

@media screen and (max-width: 1000px) {
  .navbar-btn {
    width: 45%;
  }

  .etuanLogo {
    height: 18px;
    margin-top: 6px;
  }

}
