<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>团团一家 - 正在登录中...</title>
    <style>
        body {
            background-color: #f0f0f0;
            text-align: center;
            padding-top: 150px;
        }
    </style>
</head>
<body>
<h2><img src="http://www.etuan.org/img/waiting.gif">&nbsp;<b>正在登录中...</b></h2>
<script src="http://static.etuan.org/lib/jquery/jquery.min.js"></script>
<script>
var status = "<%- status%>";
if(status === "fail"){
  $("h2 b").html("<%- msg%>");
}
if (status === "success") {
  var token = JSON.parse('<%- JSON.stringify(token)%>');
  var user = JSON.parse('<%- JSON.stringify(userInfo)%>');
  var next = window.sessionStorage.next || '/';
  var lsTmp = {
    accessToken:token.id,
    userId:token.userId,
    loginTime:token.created,
    ttl:token.ttl,
    school: user.university || '没绑定学校',
    studentId: user.studentId
  };
  window.sessionStorage.d2VjaGF0 = JSON.stringify(lsTmp);
  $("h2 b").html("登陆成功，即将跳转");
  window.location = window.sessionStorage.next || '/' ;
}
</script>
</body>
</html>

