<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>团团一家 - 正在登录中...</title>
    <style>
        body {
            background-color: #f0f0f0;
            text-align: center;
            padding-top: 150px;
        }
    </style>
</head>
<body>
<h2><img src="http://www.etuan.org/img/waiting.gif">&nbsp;<b>正在登录中...</b></h2>
<script src="http://cdn.kyfly.net/lib/js/jquery.min.js"></script>
<script>
    data = <%- data %>
    if (data.msg === "success" && ajax.status === 200) {
      //data expect {"msg":"success","url":url,"userInfo":userInfo,"token":token}
      var lsTmp = {
        accessToken:data.token.id,
        userId:data.token.userId,
        loginTime:data.token.created,
        ttl:data.token.ttl
      };
      window.localStorage.setItem('d2VjaGF0',JSON.stringify(lsTmp));
      if(data.url) window.location= data.url;
      else window.location= '/';
    }else{
        alert('sos');
    }
</script>
</body>
</html>

