<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>团团一家 - 正在登录中...</title>
    <style>
        body {
            background-color: #f0f0f0;
            text-align: center;
            padding-top: 150px;
        }
    </style>
</head>
<body>
<h2><img src="http://www.etuan.org/img/waiting.gif">&nbsp;<b>正在登录中...</b></h2>
<script src="http://cdn.kyfly.net/lib/js/jquery.min.js"></script>
<script>
var status = "<%- status%>";
if(status === "fail"){
  $("h2 b").html("<%- msg%>");
}
if (status === "success") {
  var token = JSON.parse('<%- JSON.stringify(token)%>');
  var user = JSON.parse('<%- JSON.stringify(userInfo)%>');
  var next = window.sessionStorage.next || '/';
  var lsTmp = {
    accessToken:token.id,
    userId:token.userId,
    loginTime:token.created,
    ttl:token.ttl,
    school: user.university || '没绑定学校',
    studentId: user.studentId
  };
  window.sessionStorage.d2VjaGF0 = JSON.stringify(lsTmp);

  $("h2 b").html("登陆成功，即将跳转");
  if (user.studentId)
    window.location = window.sessionStorage.next || '/' ;
  else {
    var rhtoken = sessionStorage.redHomeToken;
    var Stu = new XMLHttpRequest();
    if (!rhtoken)
      window.location = '/student.html';
    if (rhtoken){
      Stu.open('GET', '/api/WeChatUsers/stuInfoFromRH?id='+ token.userId +'&token=' + rhtoken);
      Stu.send();
      Stu.onreadystatechange = function () {
        if (Stu.readyState === 4) {
          var sdata = JSON.parse(Stu.responseText);
          if (sdata.data === 0 && Stu.status === 200) {
            window.location = '/student.html';
          } else if (sdata.data && Stu.status === 200) {
            lsTmp.school = '杭州电子科技大学';
            lsTmp.studentId = sdata.data.studentId;
            window.sessionStorage.d2VjaGF0 = JSON.stringify(lsTmp);
            window.location = window.sessionStorage.next || '/';
          }
        }
      }
    }
  }
}
</script>
</body>
</html>

