<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>团团一家 - 正在登录中...</title>
    <style>
        body {
            background-color: #f0f0f0;
            text-align: center;
            padding-top: 150px;
        }
    </style>
</head>
<body>
<h2><img src="http://www.etuan.org/img/waiting.gif">&nbsp;<b>正在登录中...</b></h2>
<script src="http://static.etuan.org/lib/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        if("<%= status %>" === "success")
        {
            var state = "<%= state %>";
            setInterval(function (){
                $.get("/api/WechatUsers/confirm?state=" + state, function (data, status) {
                    $("h2 b").html(data.msg);
                    if (data.status == "err" && status == "success")
                    {
                        $("h2 b").html(data.msg);
                    }else{
                        //成功后关闭微信浏览器,未完成
                        //记得关闭setInterval,不然服务器可能挂
                        //表示授权成功
                        $("h2 b").html("登录成功,即将关闭窗口");
                        WeixinJSBridge.call('closeWindow');
                    }
                });
            }, 1000);
        }else{
            $("h2 b").html("<%= msg %>");
        }
    });
</script>
</body>
</html>
