<div style="display: block;position: absolute;top: 0;left: 20px">
  <h3>编辑</h3>
</div>
<div style="display: inline;position: absolute;top: 20px;right: 20px">
  <button class="btn btn-info">提交</button>
  <button class="btn btn-default">预览</button>
</div>
<br>
<br>
<hr>
<form class="form-horizontal">

  <div class="form-group">
    <div class="col-md-2">
      <label class="control-label">活动标题</label>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-2">
      <label class="control-label">开始日期</label>
    </div>
    <div class="col-md-6">
      <p class="input-group">
        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="startDate" is-open="startDateOpened" datepicker-options="dateOptions" ng-required="true" close-text="完成" current-text="今天" clear-text ="清空" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="startDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
      </p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-2">
      <label class="control-label">开始时间</label>
    </div>
    <div class="col-md-6">
        <timepicker ng-model="startTime" hour-step="hstep" minute-step="mstep" show-meridian="false"></timepicker>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-2">
      <label class="control-label">结束日期</label>
    </div>
    <div class="col-md-6">
      <p class="input-group">
        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="stopDate" is-open="stopDateOpened" datepicker-options="dateOptions" ng-required="true" close-text="完成" current-text="今天" clear-text ="清空" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="stopDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
      </p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-2">
      <label class="control-label">结束时间</label></div>
    <div class="col-md-6">
      <timepicker ng-model="stopTime" hour-step="hstep" minute-step="mstep" show-meridian="false"></timepicker>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-2">
      <label class="control-label">验证规则</label>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="form-group" ng-show="isForm()">
    <div class="col-md-2">
      <label class="control-label">表单内容</label>
    </div>
    <div class="col-md-6">
      <div class="well">
        <div class="btn-group" dropdown is-open="status.isopen">
          <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
            添加表单项<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href ng-click="addForm.simple()">简答题</a></li>
            <li><a href ng-click="addForm.complex()">陈述题</a></li>
            <li><a href ng-click="addForm.choice()">选择题</a></li>
            <li><a href ng-click="addForm.judge()">判断题</a></li>
          </ul>
        </div>
        <hr>
        <ol>
          <li ng-repeat="form in forms">
            <label>{{showType[form.type]}}</label>
            <a href ng-click="removeForm($index)"><span class="glyphicon glyphicon-minus-sign"></span></a>
            <div class="well">
              <p>{{form.label}}</p>
              <ul>
                <li ng-repeat="single in form.content track by $index">{{single}}</li>
              </ul>
            </div>
            <label>修改题干</label>
            <input type="text" ng-model="form.label">
            <div ng-show="showContent[form.type]">
              <label>修改选项</label>
              <a href ng-click="appendContent($index)"><span class="glyphicon glyphicon-plus-sign"></span></a>
              <div ng-repeat="single in form.content track by $index">
                <a href ng-click="removeContent($parent.$index,$index)"><span class="glyphicon glyphicon-minus-sign"></span></a>
                <input type="text" ng-model="form.content[$index]">
              </div>
            </div>
            <hr>
          </li>
        </ol>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-2 col-md-offset-2">
      <button class="btn btn-block btn-info">提交</button>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-block btn-default">预览</button>
    </div>
  </div>
</form>
