<!doctype html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>后台</title>
  <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
  <script src="/client/lib/angular/angular.js"></script>
  <script src="/client/lib/angular-ui-bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
  <script src="/client/lib/angular-components/angular-resource.js"></script>
</head>
<body>
<h1>edit</h1>
<hr>
<form>
  <div class="form-group">
    <label>startTime</label>
    <input type="text" class="form-control" placeholder="startTime">
  </div>
  <div class="form-group">
    <label>stopTime</label>
    <input type="text" class="form-control" placeholder="stopTime">
  </div>
  <div class="form-group">
    <label>Email address</label>
    <input type="text" class="form-control" placeholder="Enter">
  </div>
  <div class="form-group">
    <label>Email address</label>
    <input type="text" class="form-control" placeholder="Enter">
  </div>
</form>
</body>
</html>
