  <!--数量统计-->
  <div class="row state-overview">
    <div class="col-md-4">
      <section class="panel">
        <div class="symbol red">
          <span class="glyphicon glyphicon-user"></span>
        </div>
        <div class="value">
          <h1>1024</h1>
          <p>参与人数</p>
        </div>
      </section>
    </div>  
    <div class="col-md-4">
      <section class="panel">
        <div class="symbol blue">
          <span class="glyphicon glyphicon-calendar"></span>
        </div>
        <div class="value">
          <h1>1024</h1>
          <p>进行活动</p>
        </div>
      </section>
    </div>  
    <div class="col-md-4">
      <section class="panel">
        <div class="symbol yellow">
          <span class="glyphicon glyphicon-globe"></span>
        </div>
        <div class="value">
          <h1>1024</h1>
          <p>浏览量</p>
        </div>
      </section>
    </div>  
  </div>
  <!--通知-->
  <div class="row notice-area">
    <div class="col-md-4" ng-repeat="notice in notices">
      <section class="panel notice">
        <h3>{{notice.title}}</h3>
        <p>{{notice.time}}</p>
        <p>{{notice.content}}</p>
      </section>
    </div>
  </div>
</div>
