<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>管理后台 - 团团一家</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="/lib/bootstrap/css/etuan.css"/>
  <link rel="stylesheet" href="/css/admin.css"/>
  <script src="/lib/angular/angular.js"></script>
  <script src="/lib/angular-ui-bootstrap/etuan-ui-bootstrap.js"></script>
  <script src="/lib/angular-components/angular-animate.js"></script>
  <script src="/lib/angular-components/angular-touch.js"></script>
  <script src="/lib/angular-components/angular-resource.js"></script>
  <script src="/lib/angular-components/angular-route.js"></script>
  <script src="/js/admin/admin-controller.js"></script>
  <script src="/js/admin/admin-route.js"></script>
  <script src="/js/admin/admin-configure.js"></script>
</head>
<body ng-controller="AdminCtrl">
<!--头部-->
  <header ng-controller="NavbarCtrl">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href ng-click="sidebarToggle()">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
        <a class="navbar-brand" href ng-click="redirectToHomapage()">
          <img ng-src="{{etuanLogo}}" height="20px" alt="团团一家LOGO">
        </a>
      </div>
      <div class="top-nav-right visible-xs">
        <div class="btn-group" dropdown>
          <button type="button" class="btn btn-default navbar-btn dropdown-toggle" dropdown-toggle>
            <img ng-src="{{organizationLogo}}" height="20px">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href ng-click="redirectToSetting()"><span class="glyphicon glyphicon-user"></span>&nbsp;{{organizationName}}</a></li>
            <li class="divider"></li>
            <li><a href ng-click="logOut()"><span class='glyphicon glyphicon-log-out'></span>&nbsp;退出</a></li>
          </ul>
        </div>
      </div>
      <div class="top-nav-right hidden-xs">
        <img ng-src="{{organizationLogo}}" height="20px">&emsp;<a href ng-click="redirectToSetting()">{{organizationName}}</a>&emsp;
        <button class="btn btn-default navbar-btn" ng-click="logOut()">
          <span class='glyphicon glyphicon-log-out'></span>&nbsp;退出
        </button>
      </div>
    </nav>
  </header>
<!--左侧边栏-->
<div class="col-sm-2 sidebar" ng-controller="SidebarCtrl" ng-show="sidebarShow">
  <div>
    <ul class="nav nav-pills nav-stacked sidebar-list">
      <li id="{{sidebar.id}}" ng-repeat="sidebar in sidebars" class="sidebar-item" ng-class="{active: sidebar.active}">
        <a href ng-click="redirect($index)">{{sidebar.display_name}}</a>
      </li>
    </ul>
  </div>
</div>
<!--主体-->
<div class="main" ng-class="{'col-sm-10':sidebarShow,'col-sm-12':!sidebarShow}" ng-view>
</div>
<script type="text/javascript">
  if (!window.localStorage.getItem('accessToken')||!window.localStorage.getItem('userId')||!window.localStorage.getItem('loginTime')){window.localStorage.removeItem('accessToken');window.localStorage.removeItem('userId');window.localStorage.removeItem('loginTime');window.location = '/login.html';}
</script>
</body>
</html>
