<!DOCTYPE html>
<html ng-app="app" ng-controller="AdminCtrl">
<head>
  <meta charset="UTF-8">
  <title>管理后台 - 团团一家</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="icon" href="/img/etuan_logo.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/img/etuan_logo.ico" type="image/x-icon">
  <script src="/lib/angular/angular.min.js"></script>
  <script src="/js/login.js"></script>
  <script type="text/javascript">
    loginCheck('b3JnYW5p');
  </script>
  <link rel="stylesheet" href="/lib/bootstrap/css/etuan.css">
  <link rel="stylesheet" href="/css/admin.css">
  <script src="/js/qrcode.min.js"></script>
  <script src="http://static.etuan.org/lib/notices.json"></script>
  <script src="/lib/jquery/jquery.min.js"></script>
  <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="/lib/angular-ui-bootstrap/etuan-ui-bootstrap.js"></script>
  <script src="/lib/angular-components/angular-animate.min.js"></script>
  <script src="/lib/angular-components/angular-resource.min.js"></script>
  <script src="/lib/angular-components/angular-route.min.js"></script>
  <script src="/ueditor/ueditor.config.js"></script>
  <script src="/ueditor/ueditor.all.min.js"></script>
  <script src="http://static.etuan.org/lib/angular-ueditor/angular-ueditor.js"></script>
  <script src="/js/admin/admin-controller.js"></script>
  <script src="/js/admin/admin-route.js"></script>
  <script src="/js/admin/admin-configure.js"></script>
  <script src="/js/admin/admin-service.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?76a5edb5c9902d7c2e38f7a723060cff";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>
<!--头部-->
<header ng-controller="NavbarCtrl">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href ng-click="sidebarToggle()">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a>
      <a class="navbar-brand" href ng-click="redirectToHomapage()">
        <img ng-src="{{etuanLogo}}" height="20px" alt="团团一家LOGO">
      </a>
    </div>
    <div class="top-nav-right visible-xs">
      <div class="btn-group" dropdown>
        <button type="button" class="btn btn-default navbar-btn dropdown-toggle" dropdown-toggle>
          <img ng-src="{{organizationLogo}}" height="20px">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href ng-click="redirectToSetting()"><span class="glyphicon glyphicon-user"></span>&nbsp;{{organizationName}}</a>
          </li>
          <li class="divider"></li>
          <li><a href ng-click="logOut()"><span class='glyphicon glyphicon-log-out'></span>&nbsp;退出</a></li>
        </ul>
      </div>
    </div>
    <div class="top-nav-right hidden-xs">
      <img ng-src="{{organizationLogo}}" height="20px">&emsp;<a href
                                                                ng-click="redirectToSetting()">{{organizationName}}</a>&emsp;
      <button class="btn btn-default navbar-btn" ng-click="logOut()">
        <span class='glyphicon glyphicon-log-out'></span>&nbsp;退出
      </button>
    </div>
  </nav>
</header>
<!--左侧边栏-->
<div class="col-sm-2" id="addPurple" ng-controller="SidebarCtrl" ng-show="sidebarShow"></div>
<div class="col-sm-2 show-item" id="sidebar" ng-controller="SidebarCtrl" ng-show="sidebarShow">
  <div>
    <ul class="nav nav-pills nav-stacked sidebar-list">
      <li ng-click="sidebarToggle(1)" id="{{sidebar.id}}" ng-repeat="sidebar in sidebars" class="sidebar-item"
          ng-class="{active: sidebar.active}">
        <a href ng-click="redirect($index)">{{sidebar.display_name}}</a>
      </li>
    </ul>
  </div>
</div>
<!--主体-->
<div id="main" ng-class="{'col-sm-10 col-sm-offset-2':sidebarShow,'col-sm-12':!sidebarShow}" ng-view>
</div>
</body>
</html>
