<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
  <meta charset="UTF-8">
  <title>管理后台</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="/lib/bootstrap/css/etuan.css"/>
  <link rel="stylesheet" href="/css/admin.css"/>
  <script src="/lib/angular/angular.js"></script>
  <script src="/lib/angular-ui-bootstrap/etuan-ui-bootstrap.js"></script>
  <script src="/lib/angular-components/angular-animate.js"></script>
  <script src="/lib/angular-components/angular-touch.js"></script>
  <script src="/lib/angular-components/angular-resource.js"></script>
  <script src="/lib/angular-components/angular-route.js"></script>
  <script src="/js/admin/admin-controller.js"></script>
  <script src="/js/admin/admin-route.js"></script>
  <script src="/js/admin/admin-configure.js"></script>
</head>
<body>

<!--左侧边栏-->
<div class="col-sm-3 sidebar" ng-controller="SidebarCtrl">
  <div>
    <ul class="nav nav-pills nav-stacked sidebar-list">
      <li ng-repeat="sidebar in sidebars" class="sidebar-item" ng-class="{active: sidebar.active}">
        <a href ng-click="redirect($index)">{{sidebar.display_name}}</a>
      </li>
    </ul>
  </div>
</div>
<!--主体-->
<div class="col-sm-9 main" ng-view>
</div>

</body>
</html>
