<!DOCTYPE html>
<html ng-app="app" ng-controller="VoteCtrl">
<head>
  <title ng-bind-template="{{title}} - 团团一家">投票 - 团团一家</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <script src="/js/login.js"></script>
  <script type="text/javascript">
    loginCheck('d2VjaGF0');
  </script>
  <link rel="stylesheet" href="/lib/bootstrap/css/etuan.css"/>
  <script src="/lib/angular/angular.min.js"></script>
  <script src="/lib/angular-components/angular-resource.min.js"></script>
  <script src="/js/vote/app.js"></script>
</head>
<body>
<div class="container">
  <h1>{{vote.title}}</h1>
  <h4>{{vote.description}}</h4>
  <p>开始时间：{{startTime | date:cnFormat}}</p>
  <p>结束时间：{{stopTime | date:cnFormat}}</p>
  <hr>
  <form class="form-horizontal">
    <div class="form-group" ng-repeat="vsb in vote.voteSubitems">
      <div class="checkbox">
        <label>
          &nbsp;&nbsp;&nbsp;
          <input type="checkbox" ng-model="answer[$index]" ng-true-value="true" ng-false-value="false">
          {{$index+1}}.&nbsp;{{vsb.name}}<a href="{{vsb.detailUrl}}">&nbsp;&nbsp;<span class="glyphicon glyphicon-link"></span></a>
        </label>
      </div>
    </div>
    <div class="form-group">
      <br>
      <div class="col-sm-2 col-md-offset-2">
        <button class="btn btn-block btn-success" ng-click="submit()">提交</button>
      </div>
    </div>
  </form>
</div>
<script type="text/javascript">
  if (!window.localStorage.getItem('weChatAccessToken')||!window.localStorage.getItem('weChatUid')||!window.localStorage.getItem('weChatLoginTime')){window.localStorage.removeItem('weChatAccessToken');window.localStorage.removeItem('weChatUid');window.localStorage.removeItem('weChatLoginTime');window.location = '/wechat-login.html';}
</script>
</body>
</html>
