<!DOCTYPE html>
<html ng-app="app" ng-controller="VoteCtrl">
<head>
  <title>{{title}}</title>
  <link rel="icon" href="/img/etuan_logo.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/img/etuan_logo.ico" type="image/x-icon">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <script src="/js/login.js"></script>
  <script type="text/javascript">
    loginCheck('d2VjaGF0');
  </script>
  <link rel="stylesheet" href="/lib/bootstrap/css/etuan.css"/>
  <script src="/lib/angular/angular.min.js"></script>
  <script src="/lib/angular-components/angular-resource.min.js"></script>
  <script src="/js/vote/app.js"></script>
  <style>
    html {
      min-height: 100%;
      height: 100%;
    }

    body {
      font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
      background-color: #66ccff;
      min-height: 100%;
      height: 100%;
    }

    .bg_white {
      background-color: #ffffff;
      min-height: 100%;
      height: 100%;
      overflow: auto;
    }

    .footer {
      font-size: 20px;
      margin-bottom: 15px;
    }

    .checkbox {
      text-decoration: none;
    }
  </style>
</head>
<body>
<div class="container bg_white">
  <div class="col-md-8 col-md-offset-2">
    <h1>{{vote.title}}</h1>
    <h4>{{vote.description}}</h4>
    <p>最大投票数：{{vote.maxVote}}</p>
    <p>开始时间：{{startTime | date:cnFormat}}</p>
    <p>结束时间：{{stopTime | date:cnFormat}}</p>
    <hr>
    <form class="form-horizontal">
      <div class="form-group" ng-repeat="vsb in vote.voteSubitems">
        <div class="checkbox">
          <label>
            &nbsp;&nbsp;&nbsp;
            <input type="checkbox" ng-model="answer[$index]" ng-true-value="true" ng-false-value="false">
            {{$index+1}}.&nbsp;{{vsb.name}}<a href="{{vsb.detailUrl}}">&nbsp;&nbsp;<span title="查看详情" class="glyphicon glyphicon-link"></span></a>
          </label>
        </div>
      </div>
      <div class="form-group">
        <br>
        <div class="col-sm-2 col-md-offset-2">
          <button class="btn btn-block btn-success" ng-click="submit()">提交</button>
        </div>
      </div>
    </form>
    <br>
    <hr>
    <div class="text-center footer">
      <img src="/img/full-logo.png" height="25px" alt="团团一家LOGO">&nbsp;提供技术支持
    </div>
  </div>
</div>
</body>
</html>
