<!DOCTYPE html>
<html ng-app="app" ng-controller="SeckillCtrl">
<head>
  <title ng-bind-template="{{title}} - 团团一家">疯抢 - 团团一家</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <script src="/js/login.js"></script>
  <script type="text/javascript">
    loginCheck('d2VjaGF0');
  </script>
  <link rel="stylesheet" href="/lib/bootstrap/css/etuan.css"/>
  <script src="/lib/angular/angular.min.js"></script>
  <script src="/lib/angular-components/angular-resource.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/seckill/app.js"></script>
  <style>
    html {
      min-height: 100%;
      height: 100%;
    }

    body {
      font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
      background-color: #FF6C60;
      min-height: 100%;
      height: 100%;
    }

    .bg_white {
      background-color: #ffffff;
      min-height: 100%;
      height: 100%;
      overflow: auto;
    }

    .footer {
      font-size: 20px;
      margin-bottom: 15px;
    }
  </style>
</head>
<body>
<div class="container bg_white">
  <div ng-show="seckillStart">
    <div class="col-xs-4">他们抢到啦：</div>
    <marquee class="col-xs-7">
      <span ng-repeat="result in resultList">
        <span ng-bind="result + '&nbsp;&nbsp;&nbsp;&nbsp;'"></span>
      </span>
    </marquee>
  </div>

  <div class="col-md-8 col-md-offset-2">
    <div class="text-center">
      <h1 ng-bind="title"></h1>

      <h2 ng-bind-template="第{{current+1}}场"></h2>
      <img class="img-circle" ng-src="{{logoUrl}}" height="150px" width="150px">
      <br><br>

      <p ng-bind="description"></p>
    </div>

    <div class="text-warning">
      <div class="col-md-4">开始时间：<span ng-bind="startTime | date: cnFormat">载入中...</span></div>
      <div class="col-md-3">状态：<span ng-bind="status">载入中...</span></div>
      <div class="col-md-2">余量：<span ng-bind="remain">载入中...</span></div>
      <div class="col-md-3">在线人数：<span ng-bind="onlineNumber">载入中...</span></div>
    </div>

    <table class="table table-striped text-center table-bordered">
      <thead>
      <tr>
        <td>场次</td>
        <td>时间</td>
        <td>数量</td>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="sa in seckillArrangements">
        <td ng-bind-template="第{{sa.id+1}}场"></td>
        <td ng-bind="sa.startTime | date: cnFormat"></td>
        <td ng-bind="sa.total"></td>
      </tr>
      </tbody>
    </table>
    <br>

    <div class="text-center text-danger">倒计时：<span ng-bind="countdownTime">载入中...</span></div>

    <br>
    <input ng-hide="verifyRule == '学号'" class="form-control" type="text" ng-model="verifyId"
           placeholder="请输入{{verifyRule}}">
    <br>
    <button type="button" class="btn btn-danger btn-block" ng-click="goKill()" ng-bind="btnStatus"
            ng-disabled="status != '正在进行'">
      载入中...
    </button>
    <br>
    <hr>
    <div class="text-center footer">
      <img src="/img/full-logo.png" height="25px" alt="团团一家LOGO">&nbsp;提供技术支持
    </div>
  </div>
</div>
<script>
</script>
</body>
</html>
